# CODEOWNERS - Data Science Club @Datathon Webpage
#
# ---------------------------------------------------------------------------
# Default: everything not matched below is owned by Datathon Webpage Team @ datathon-webpage
# ---------------------------------------------------------------------------

* @Data-Science-Club-TEC/Frontend @Data-Science-Club-TEC/Backend @Data-Science-Club-TEC/Database @Data-Science-Club-TEC/Security @Data-Science-Club-TEC/committee

/.github/ @Data-Science-Club-TEC/committee

# ---------------------------------------------------------------------------
# Main dev areas
# ---------------------------------------------------------------------------
/prisma/ @Data-Science-Club-TEC/Database @Data-Science-Club-TEC/Backend
/src/lib/ @Data-Science-Club-TEC/Backend
/cron.json/ @Data-Science-Club-TEC/Security 

/src/assets/      @Data-Science-Club-TEC/Frontend
/src/components/  @Data-Science-Club-TEC/Frontend
/src/pages/       @Data-Science-Club-TEC/Frontend
/src/App.tsx      @Data-Science-Club-TEC/Frontend
/src/index.tsx    @Data-Science-Club-TEC/Frontend
/src/App.css      @Data-Science-Club-TEC/Frontend
/src/main.tsx     @Data-Science-Club-TEC/Frontend

# ---------------------------------------------------------------------------
# Security and privacy areas
# ---------------------------------------------------------------------------
/src/lib/auth/ @Data-Science-Club-TEC/Security 
/src/lib/crypto/ @Data-Science-Club-TEC/Security 
