# CODEOWNERS - Data Science Club @Datathon Webpage
#
# ---------------------------------------------------------------------------
# Default: everything not matched below is owned by Datathon Webpage Team @ datathon-webpage
# ---------------------------------------------------------------------------

* @datathon-webpage/Frontend @datathon-webpage/Backend @datathon-webpage/Database @datathon-webpage/Security @committee

/.github/ @committee

# ---------------------------------------------------------------------------
# Main dev areas
# ---------------------------------------------------------------------------
/prisma/ @datathon-webpage/Database @datathon-webpage/Backend
/datathon/src/lib/ @datathon-webpage/Backend
/cron.json/ @datathon-webpage/Security 

/datathon/src/assets/      @datathon-webpage/Frontend
/datathon/src/components/  @datathon-webpage/Frontend
/datathon/src/pages/       @datathon-webpage/Frontend
/datathon/src/App.tsx      @datathon-webpage/Frontend
/datathon/src/index.tsx    @datathon-webpage/Frontend
/datathon/src/App.css      @datathon-webpage/Frontend
/datathon/src/main.tsx     @datathon-webpage/Frontend

# ---------------------------------------------------------------------------
# Security and privacy areas
# ---------------------------------------------------------------------------
/datathon/src/lib/auth/ @datathon-webpage/Security @datathon-webpage/
/datathon/src/lib/crypto/ @datathon-webpage/Security @datathon-webpage/