@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Inter:wght@400;500&display=swap");

@theme {
  --color-navy: #091840;
  --color-navy-dark: #040e29;
  --color-blue: #6da1ea;
  --color-lavender: #dad1fd;
  --color-light-blue: #6da1ea;
  --color-sponsor-card: #216194;
  --font-heading: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;
}

@layer base {
  html {
    font-family: var(--font-body);
    scroll-behavior: smooth;
  }

  body {
    @apply bg-navy-dark text-black;
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-heading);
  }
}
